// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "fancy-buttons";
@import "blueprint/typography";

#wrap {
  $paddingwidth: 20px;
  padding: 0 $paddingwidth $paddingwidth;
}

.topheading {
  @include blueprint-typography(true);
}

#header {
  border: {
    style: solid;
    bottom-width: 4px;
  }
  padding: {
    bottom: 50px;
  }

  h1 {
    font: {
      size: 40px;
    }
    text: {
      align: center;
    }
  }
}

#links {
  padding: {
    bottom: 10px;
    left: 12.5px;
    right: 12.5px;
  }
  /* margin: { */
  /*   left: auto; */
  /*   right: auto; */
  /* } */
  //  width: 21em;
}
.blue { @include fancy-button(#2966a8); }

#navlist li {
  display: inline;
  list-style-type: none;
  margin: {
    right: 10px;
    left: 10px;
  } 
}

#content {
  $blueprint-font-size: 14px;
  $blueprint-font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  @include blueprint-typography(true);
  $paddingwidth: 20px;
  padding: {
    top: 15px;
    right: $paddingwidth;
    left: $paddingwidth;
  }
}