// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "fancy-buttons";

#wrap {
  $paddingwidth: 20px;
  padding: 0 $paddingwidth $paddingwidth;
}

#header {

}
.blue { @include fancy-button(#2966a8); }

#navlist li {
display: inline;
list-style-type: none;
padding-right: 20px;
}